*{
    margin: 0%;
    padding: 0%;
    font-family: ;
}
.nav1{
    margin-left: 30%;
}
.nav2{
    margin-right: 15%;
}
.nav2 a{
    color: orangered;
}
.nav3{
    /* margin-right: 10%;
    margin-left: 10%; */
    color: orangered;
}
.navicon{
    display: block;
}
@media screen AND (max-width:700px;) {
    .navicon{
        overflow: hidden;
        display: none;

    }
}