*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* Navbar */
.main1{
    background-image:url("../Image/img12/nav-bg.jpg");
    background-size: cover;
    height: 100vh;
    margin: 0%;
}
.nb1{
    padding-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
.nbBtn1{
    color: white;
    border: 2px solid white;
    border-radius: 3px;
}
.nb2{
    margin-left: 25%;
}
.nb2 ul li a{
    color: white;
    /* padding: 5%; */
}
.nb3:hover{
    color: #D22F2F;
}
.nbBtn2{
    background-color: #D22F2F;
    color: white;
    border-radius: 55px;
    font-size: 13px;
}
.nbBtn3{
    display: none;
}
/* .focus {
    outline: none;
    box-shadow: none;
} */
@media screen AND (max-width:600px) {
    .main1{
        height: 80vh;
    }
    .nb2{
        margin: 0%;
    }
    .nbBtn2{
        display: none;
    }
    .nbBtn3{
        margin-left: 20%;
        display: block;
        background-color: #D22F2F;
        color: white;
        border-radius: 55px;
        font-size: 13px;
    }
}
/* hero section */
.hs1{
    margin-top: 8%;
    margin-left: 3%;
    color: white;
}
.hs1 h1{
    font-size: 50px;
}
.hsBtn{
    margin-left:3% ;
}
.hsBtn1{
    border: 2px solid white;
    color: white;
    border-radius: 55px;
    width: 10%;
}
.hsBtn1:hover{
    background-color: white;
}
.hsBtn2{
    border: 2px solid #D22F2F;
    background-color: #D22F2F;
    color: white;
    border-radius: 55px;
    width: 10%;
}
.hsBtn2:hover{
    background-color: white;
    color: #D22F2F;
}
.hsImg{
    margin-left: 3%;
    margin-top: 1%;
}
@media screen AND (max-width:600px) {
    .hs1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 25%;
    }
    .hs1 h1{
        font-size: 25px;
    }
    .hsBtn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hsBtn1{
        width: 28%;
    }
    .hsBtn2{
        margin-top: 2%;
        width: 28%;
    }
    .hsImg{
        display: none;
    }
}

/* Free Courses */
.main2{
    display: flex;
}
.abt_count{
    padding: 5%;
    border: 3px solid #D22F2F;
    border-radius: 75px;
    width: 22%
}
.abt_count span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}
.abt_count p{
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}
.num{
    font-size: 30px;
}
.a0{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.a1{
    height: 80vh;
    width: 80%;
    margin-top: 4%;
    margin-left: 20%;
    padding: 8%;
    border: 5px solid #D22F2F;
    border-radius: 5px;
}
Input{
    border: none;
    outline:none;
}
.a2{
    border: 2px solid rgb(219, 219, 219);
    border-radius: 15px;
    margin-bottom: 3%;
}
.a2:hover{
    border: 2px solid rgb(155, 153, 153);
}
.a2 input{
    border: none;
}
.a3{
    border: none;
    margin-left: 12%;
    background-color: white;
}
.a4{
    color: rgb(155, 153, 153);
}
.a5{
    background-color: #D22F2F;
    border-radius: 15px;
    color: white;
    width: 100%;
    outline: none;
    box-shadow: none !important;
}
.a5:hover{
    background-color: white;
    border: 2px solid #D22F2F;
    color: #D22F2F;
}
@media screen AND (max-width:600px) {
    .main2{
        display: flex;
        flex-direction: column;
    }
    .a6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .a1{
        margin: 0%;
    }
    .a7{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}
