* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    margin: 0 !important;
}

/* navbar */
.nb1 {
    margin-left: 13%;
    margin-right: 13%;
}
.nbicon {
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.MyEdge{
    right: 0px;
}

@media screen AND (max-width:600px) {
    .nb1 {
        margin: 0%;
    }

    .nb2 {
        display: none;
    }
}

/* nav */
.N0 {
    display: none;
}
.n0 {
    display: block;
}
.n1 {
    /* margin-left: 3%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.n1 div {
    padding-right: 3%;
}
.n1 a {
    color: #990000;
}
.n2 {
    list-style: none;
    font-size: 13px;
}
.n2 a {
    text-decoration: none;
    color: black;
}
.n3 {
    background-color: #990000;
    font-size: 13px;
}
.n3 a {
    text-decoration: none;
    color: white;
    font-family: serif;
}

@media screen AND (max-width:600px) {
    .N0 {
        display: block;
    }
    .n0 {
        display: none;
    }
    .n1 {
        font-size: 11px;
    }
    .n2 {
        display: none;
    }
    .n3 {
        display: none;
    }
}

/* hero section */
.h0{
    margin: 0%;
    padding: 0%;
}
.h1 {
    background-image: url(../Image/img2/h1.png) ,linear-gradient(0deg, #3A8891, #0E5E6F);
    /* background-image: linear-gradient(0deg, #3A8891, #0E5E6F); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.h2{
    display: flex;
    justify-content: center;
}
.h3{
    margin-top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h3a{
    font-size: 20px;
}
.h3b{
    font-size: 80px;
}
.h4{
    background-image: url('../Image/img2/h3.png');
    border-radius: 5px;
    height: 20vh;
    width: 70%;
}
.h5{
    background-image: url('../Image/img2/h4.png');
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.h6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    padding: 5%;
    margin-left: 25%;
    margin-right: 25%;
}
.h6:hover{
    color: #990000;
    background-color: white;
    font-family: sans-serif, bold;
}
.btn{
	box-shadow: none !important
}

@media screen AND (max-width:600px){
    .h3{
        margin-top: 90%;
    }
    .h3a{
        font-size: 15px;
    }
    .h3b{
        font-size:40px;
    }
    .h4{
        width: 85%;
        height: 18vh;
    }
    .h6{
        padding: 4%;
        margin: 0px 0px 0px 5px;
    }
}

/*  */


